<main class="p-5"> 
    <div class="card p-5">
        <p id="test">Hello world!Hello world!Hello world!Hello world!Hello world!Hello world!Hello world!Hello world!</p>
        <span class="span-b">
            This is text
        </span>
         <span id="test">
            This is text
        </span>
         <span class="span-b">
            This is text
        </span>
        <span class="test">This is another text</span>
    </div>

<pre>
    jnjnlnnjgihkuk
</pre>

<div>Block</div>
<div>Block</div>
<div>Block</div>

<div style="padding: 50px 0 50px 100px; background: gray">
    <span>Inline catedory dog</span>
    <span>Inline catedory dog</span>
    <span>Inline  catedory dog</span>

<span class="block">Category Inline-blok Inline-blok</span>
</div>
<div>Block</div>

</main>