{{!-- Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/" --}}


{{!-- <div class="p-5 box">
    <h1 class="button">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="button" id="button">Купити</button>

<p class="user"> Summary text</p>

</div>

<footer class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <p class="user"> 
        <em>This is text</em>
     </p>

     <div>
        <div>
            <em class="child">This is EM</em>
        </div>
     </div>
</footer>

<section class="p-5 box"> 
    <strong>Test</strong>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <strong>Test</strong>
    <em>This is Em</em>
    <div>
    <p class=""> Link</p>
    
    </section> --}}
{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}

{{!-- 
<div class="card p-5 m-5 card-dark">
<ul>
    <li class="item">1</li>
    <li class="item">2</li>
    <li class="item">3</li>
    <li class="item">4</li>
</ul>
</div>
<div class="card p-5 m-5 card-dark">
<ul>
    <li class="item">1</li>
</ul>
</div>

<div class="card p-5 m-5 card-dark">
    <div class="item">1</div>
    <p class="item"> SECOND </p>
    <article class="item">Last</article>
    <div class="item">1</div>
    <div class="item">1</div>
    <p> not SECOND </p>
     <div class="item">1</div>
    <div class="item">1</div>
    <p class="item"> SECOND </p>
    <p></p>
</div>
  --}}
{{!-- 

<div class="card p-5 m-5 card dark">
    <input class="input-dark" required>
    <input class="input-dark" type="number">
</div>

<div class="card p-5 m-5 card dark">
    <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300" height="100px"> 

    <a href="https://picsum.photos/200/300" rel="external">link</a>

<button class="btn"> Click me</button>
<br>
<a class="btn btn-secondary" href="https://picsum.photos/200/300">Don't click me!</a>
<br>
<a class="btn btn-secondary big" href="https://picsum.photos/200/300">Fine, click me!</a>
</div>

<div class="card p-5 m-5 card dark">
<p class="big-text">This is text about info big test info<br>
This is text about info big test infoThis is text about info big test info</p>
</div> --}}

<div class="card p-5 m-5 card-dark">
    <a class="link" href="#test">Click me</a>
</div>


<div lang="en" id="test" class="card p-5 m-5 card-dark">
    <input>
<span> HelloWorld!</span>
</div>

<div class="p-5 m-5 card-dark">
    <button>Test button</button>
    <button disabled>Disabled button</button>
</div>
<div class="p-5 m-5 card-dark">
<input class="inp">

    <div class="mt-5">
        <div><input type="checkbox" checked>
        <span>First checkbox</span></div>
    <div><input type="checkbox">
    <span>Second checkbox</span></div>
    </div>
</div>

<div class="p-5 m-5 card-dark">
   <input type="email" required class="valid">
    <input type="email" class="valid">

    <div class="mt-5">
        <input type="email" required class="valid ps-5" placeholder="test">
        <span>test text</span>
    </div>

    <div class="mt-5">
        <input type="number" min="10" max="20" required class="number">
    </div>
</div>
