.card {
  color: violet;
}

.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}

p:focus,
p:active, 
p:hover {
  -webkit-text-fill-color: rgb(248, 248, 6);
  -webkit-text-stroke: 1px pink;

  direction: ltr;
}

#test {
  color: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke: inherit;

  /* writing-mode: vertical-lr; */
  text-align: justify;

  letter-spacing: 0.3em;
}

span {
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline dotted red;
  
}

.span-b {
  text-decoration-color: blue;
  text-decoration-line: line-through;
  text-decoration-style: solid;
}

span:hover {
  text-decoration-color: green;
  text-decoration-line: line-through;
  text-decoration-style: double;
}
pre {
  tab-size: 7;
}

* {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-display: swap;

}

span {
  font-size: larger;
  font-weight: 800;
  /* font-style: oblique; */
}

.test {
  font-weight: lighter;
  display: none;
}

.block {
  display: block;
  background: rgb(205, 201, 201);

  margin: auto;

  width: 100%;
  max-width: 600px;
  padding: 15px; 
}
body {
  background: red;}
  
.page {
  background-color: transparent;
}