

<div class="article" id="{{id}}">
    <img src="{{photo}}" class="article_img">
        {{#if isNew}}<span class="new">NEW</span>{{/if}}
    <h3 class="article_name">{{name}}</h3>             
    <p class="article_description">{{description}}</p>
</div>